
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: url("A.jpeg") no-repeat center fixed;
    background-size: cover;
    color: rgb(247, 244, 244);
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    margin-bottom: 20px;
    color: rgb(250, 246, 247);
}

#game-board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px);
    gap: 5px;
    margin: 20px auto;
    width: 315px;
}

.cell {
    background-color: black;
    border: 2px solid #000;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.3s;
}


#message {
    margin-top: 20px;
    font-size: 1.5rem;
}

#restart {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    background-color: rgb(35, 3, 214);
    border: 2px solid #f7f2f2;
    transition: background-color 0.3s;
    color: white;
}

#restart:hover {
    background-color: rgba(90, 9, 3, 0.979);
    color: white;
}